# copy this file to .env and fill in the values

PROJECT_NAME=async-ecomerce-playground

# services versions
POSTGRES_VERSION=170-alpine
RABBITMQ_VERSION=3.9.7-management-alpine

# global variables
DOCKER_TAG_GOBUILDER="1.26.1-alpine"
